<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="style/main.css">
    <link rel="stylesheet" href="style/home.css">
    
</head>

<body>

    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top color-header">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>                        
                    </button>
                    <a href="#"><img src="images/logo.png" alt=""></a>
                </div>
                <form class="navbar-form navbar-left" action="/action_page.php">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search" name="search">
                      <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                          <i class="glyphicon glyphicon-search"></i>
                        </button>
                      </div>
                    </div>
                </form>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="color-header-active"><a href="#">Home</a></li>
                        <li><a href="#">Category</a></li>
                        <li><a href="#">Collection</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <section>
            <ul class="main-slider">
                <li class="first">
                    <h1>Recipe Book</h1>
                    <h6>Get a taste of what you can find in our venue</h6>
                    <a href="#" target="_blank" class="square-button">Go to our menu</a>
                </li>
                <li class="second">
                    <h2>New Categories</h2>
                    <h6>Learn how to cook like a pro in our blog</h6>
                    <a href="#" target="_blank" class="square-button">Go to our category</a>
                </li>
                <li class="third">
                    <h2>New Collections</h2>
                    <h6>We use 4 classes of chesse, jalapeños, cream and magma sauce</h6>
                    <a href="#" target="_blank" class="square-button">Go to our collection</a>
                </li>
            </ul>
        </section>
        <div class="container">
            <section>  
                <h2 class="title-3">Latest Recipe</h2>

                <div class="row">
                    <div class="inside">
                        <div class="col-md-4 col-sm-6 recipe">    
                            <img src="images/libritos.jpg" alt="" class="img-recipe">
                            <a href="#"><h2>Librillos de bacon y queso</h2></a>
                            <p>Los librillos o dan jacobos los puedes rellenar de lo que quieras. 
                            Con jamón serrano o cocido y queso están también riquísimos!!!</p>
                        </div>
                        <div class="col-md-4 col-sm-6 recipe">
                            <img src="images/tiramisu.jpg" alt="" class="img-recipe">
                            <a href="#"><h2>Tiramisu</h2></a>
                            <p>Más detalles de la receta en el blog.</p>
                        </div>
                        <div class="col-md-4 col-sm-6 recipe">
                            <img src="images/dorada.jpg" alt="" class="img-recipe">
                            <a href="#"><h2>Dorada en papillote</h2></a>
                            <p>Receta muy rica y sencilla.</p>
                        </div>
                        <div class="col-md-4 col-sm-6 recipe">
                            <img src="images/judias.jpg" alt="" class="img-recipe">
                            <a href=""><h2>Judias blancas al gusto</h2></a>
                            <p>El chorizo le pincho para que suelte más de su sabor y le corto a la mitad
                                Sal como siempre digo al gusto y cuando le quede poco tiempo de su cocción</p>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <h2 class="title-3">Category</h2>
                <div class="row">
                    <div class="col-md-2" align="center">
                        <a href="#">
                            <img src="images/rice.png" alt="rice">
                            <p>Rice</p>
                        </a>
                    </div>
                    <div class="col-md-2" align="center">
                        <a href="#">
                            <img src="images/cabbage.png" alt="salad">
                            <p>Salad</p>
                        </a>
                    </div>
                    <div class="col-md-2" align="center">
                        <a href="#">
                            <img src="images/spaghetti.png" alt="">
                            <p>Pasta</p>
                        </a>
                    </div>
                    <div class="col-md-2" align="center">
                        <a href="#">
                            <img src="images/steak.png" alt="">
                            <p>Meat</p>
                        </a>
                    </div>
                    <div class="col-md-2" align="center">
                        <a href="#">
                            <img src="images/fish.png" alt="">
                            <p>Fish</p>
                        </a>
                    </div>
                    <div class="col-md-2" align="center">
                        <a href="#">
                            <img src="images/soup.png" alt="">
                            <p>Soup</p>
                        </a>
                    </div>
                </div>
            </section>
            <section>
                <h2 class="title-3">Popular Recipe</h2>

                <div class="row">
                    <div class="inside">
                        <div class="col-md-4 col-sm-6 recipe">    
                            <img src="images/libritos.jpg" alt="" class="img-recipe">
                            <a href="#"><h2>Librillos de bacon y queso</h2></a>
                            <p>Los librillos o dan jacobos los puedes rellenar de lo que quieras. 
                            Con jamón serrano o cocido y queso están también riquísimos!!!</p>
                        </div>
                        <div class="col-md-4 col-sm-6 recipe">
                            <img src="images/tiramisu.jpg" alt="" class="img-recipe">
                            <a href="#"><h2>Tiramisu</h2></a>
                            <p>Más detalles de la receta en el blog.</p>
                        </div>
                        <div class="col-md-4 col-sm-6 recipe">
                            <img src="images/dorada.jpg" alt="" class="img-recipe">
                            <a href="#"><h2>Dorada en papillote</h2></a>
                            <p>Receta muy rica y sencilla.</p>
                        </div>
                        <div class="col-md-4 col-sm-6 recipe">
                            <img src="images/judias.jpg" alt="" class="img-recipe">
                            <a href=""><h2>Judias blancas al gusto</h2></a>
                            <p>El chorizo le pincho para que suelte más de su sabor y le corto a la mitad
                                Sal como siempre digo al gusto y cuando le quede poco tiempo de su cocción</p>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <h2 class="title-3">Collection</h2>
                <div class="row">
                    <div class="col-md-2" align="center">
                        <a href="#">
                            <img src="images/salver.png" alt="gourmet">
                            <p>Gourmet</p>
                        </a>
                    </div>
                    <div class="col-md-2" align="center">
                        <a href="#">
                            <img src="images/baguette.png" alt="handmade">
                            <p>Handmade</p>
                        </a>
                    </div>
                    <div class="col-md-2" align="center">
                        <a href="#">
                            <img src="images/breakfast.png" alt="breakfast">
                            <p>Breakfast</p>
                        </a>
                    </div>
                    <div class="col-md-2" align="center">
                        <a href="#">
                            <img src="images/friendship.png" alt="friends">
                            <p>Friends</p>
                        </a>
                    </div>
                    <div class="col-md-2" align="center">
                        <a href="#">
                            <img src="images/diet.png" alt="healthy">
                            <p>Healthy</p>
                        </a>
                    </div>
                    <div class="col-md-2" align="center">
                        <a href="#">
                            <img src="images/pizza.png" alt="italian">
                            <p>Italian</p>
                        </a>
                    </div>
                </div>
            </section>
        </div>
    </main>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <img src="images/logo.png" alt="" class="logo-footer">
                </div>
                <div class="col-md-2">
                    Navigation
                    <ul>
                        <li><a class="ancor-footer" href="#">Home</a></li>
                        <li><a class="ancor-footer" href="#">Category</a></li>
                        <li><a class="ancor-footer" href="#">Collection</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    Sitemap
                    <ul>
                        <li><a class="ancor-footer" href="#">Contact Us</a></li>
                        <li><a class="ancor-footer" href="#">About Us</a></li>
                        <li><a class="ancor-footer" href="#">Terms and Conditions</a></li>
                        <li><a class="ancor-footer" href="#">Cookies Policy</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <p class="description">you perfect recipe with recipe-book, 
                    your own recipe book custom, just register and find your perfect 
                    recipe or create in just moment</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/jquery.bxslider.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <script>
        $(function(){
        /*-----------------
            MAIN SLIDER
        -----------------*/
            $('.main-slider').bxSlider({
                pagerCustom: '.pager-container',
                controls: false,
                easing: 'ease-in',
                speed: 800,
                auto: true,
                pause: 6000
            });
            
            })
    </script>
            

</body>

</html>