.color-header{
    background-color: #2646ea;
}
    
.color-header-active{
    background-color: #263ba8;
}

.navbar-inverse .navbar-brand{
    color: white;
}

.navbar-inverse .navbar-nav>li>a{
    color: white;
}

img{
    width: 130px;
    padding-top: 0px;
}

.ancor-footer{
    color: white;
}

.ancor-footer:hover{
    color: white;
    text-decoration: none;
}